<h4>配送先登録/一覧</h4>
<%= form_with model:@addresse, url: addresses_path, local:true do |f| %>
  <div class="field">
    <%= f.label :郵便番号(ハイフン) %>
    <%= f.text_area :postal_code %>
  </div>
  <div class="field">
    <%= f.label :住所 %>
    <%= f.text_area :addresse %>
  </div>
  <div class="field">
    <%= f.label :宛名 %>
    <%= f.text_field :name %>
  </div>
<% end %>

<table>
    <thead>
      <th width="80" heigth="24">郵便番号</th>
      <th width="300" heigth="24">住所</th>
      <th width="200" heigth="24">宛名</th>
      <th width="300" heigth="24" colspan="2"></th>
    </thead>
    <tbody>
      <% @addresses.each do |addresse| %>
      <tr>
        <td><%= addresse.postal_code %></td>
        <td><%= addresse.address %></td>
        <td><%= addresse.name %></td>
        <td></td>
      </tr>
      <% end %>
    </tbody>
  </table>